@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root{
    --azul-claro:#20ccd8;
    --azul-oscuro: #0983b3;
    --gradient:linear-gradient(90deg, var(--azul-claro), var(--azul-claro));
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
}

*::selection{
    background:var(--azul-claro);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background:#ffffff;
}

section{
    min-height: 100vh;
    padding:0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    background:var(--gradient);
    font-size: 1.7rem;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    background:var(--gradient);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding:1rem;
}

header{
    position: fixed;
    top:0; left:0;
    width:100%;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .img{
    width: 80px;
    height: 70px;
    margin-bottom: -23px;
}
header .logo{
    font-size: 2rem;
    color:var(--azul-claro);
}

header .logo span{
    color:var(--azul-oscuro);
    
}

header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color:var(--azul-oscuro);
}

header .navbar a:hover{
    color:var(--azul-oscuro);
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color:var(--azul-claro);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}




.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(../img/fondo/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .image img{
    width:40vw;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

.home .content h3{
    font-size: 5.5rem;
    color:#333;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--azul-claro);
    text-transform: uppercase;
}

.home .content p{
    font-size: 1.7rem;
    color:#666;
    padding:1rem 0;
}



.team{
	position: relative;
	width: 100%;
	height: 100vh;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: var(--azul-oscuro);
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: #cacaca62;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: var(--azul-oscuro);
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color:var(--azul-claro);
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}


.proyecto{
    background-color: #c0c0c044;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

.proyecto .column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.proyecto .column .image{
    flex:1 1 40rem;
}

.proyecto .column .image img{
    width:100%;
}

.proyecto .column .content{
    flex:1 1 40rem;
}

.proyecto .column .content h3{
    font-size: 3rem;
    color:#666;
}

.proyecto .column .content p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
}

.proyecto .column .content .buttons a:last-child{
    margin-left: 2rem;
}


.features{
    background: #ffffff;
}
.features .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}

.features .box-container .box{
    flex:1 1 30rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    padding:3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.features .box-container .box img{
    height: 15rem;
}

.features .box-container .box h3{
    font-size: 2rem;
    color:#333;
    padding-top: 1rem;
}

.features .box-container .box p{
    font-size: 1.3rem;
    color:#666;
    padding: 1rem 0;
}






.marketing{
    background-color: #c0c0c044;
}
.marketing .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}

.marketing .box-container .box{
    flex:1 1 30rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    padding:3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.marketing .box-container .box img{
    height: 15rem;
}

.marketing .box-container .box h3{
    font-size: 2rem;
    color:#333;
    padding-top: 1rem;
}

.marketing .box-container .box p{
    font-size: 1.3rem;
    color:#666;
    padding: 1rem 0;
}





.facility{
    background-color: #c0c0c044;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  
  .facility .box-container3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  .facility .box-container3 .box2{
    height:40rem;
    width:50rem;
    margin:.3rem;
    overflow: hidden;
  }
  
  .facility .box-container3 .box2 img{
    height:100%;
    width:100%;
    object-fit: cover;
  }
  
  .facility .box-container3 .box2:hover img{
    transform: scale(1.3);
  }


 .producto{
    background: #f3f3f386;
 }
  .card {
    text-align: center;
    margin: 0px auto;
    width: 380px;
    height: min-content;
    padding: 25px;
    background: #f7f3f3;
    border: 2px solid #e1e3e6;
    border-radius: 20px;
    transition: .4s;
}

.card:hover {
    border-color: #ffffff;
    transform: translateY(-10px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, .08);
}

.card .card-header h3 {
    color: #404d61;
    font-size: 28px;
}

.card .card-header p {
    color: #757d8a;
    font-size: 20px;
}

.card .card-header span {
    position: absolute;
    color: var(--azul-oscuro);
    background: rgb(233, 232, 232);
    right: 25px;
    top: 25px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 18px;
}

.card .card-img {
    position: relative;
    height: 220px;
    border-radius: 12px;
    margin: 22px 0;
    overflow: hidden;
}

.card .card-img img {
    width: 100%;
    height: 100%;
    transition: .4s;
}

.card:hover .card-img img {
    transform: scale(1.06);
}

.card .card-img i {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #757d8a;
    background: #ffffff;
    padding: 6px;
    border-radius: 6px;
}

.card .card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .card-details .price p {
    color: #757d8a;
    font-size: 20px;
}

.card .card-details .price strong {
    color: #545d6d;
    font-size: 22px;
}

.card .card-details .colors {
    display: flex;
}

.card .card-details .colors div {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 4px;
}


.card .card-details .colors div i {
    color: #ffffff;
    margin: 5px;
    font-size: 25px;
    opacity: 0;
}

.card .card-details .colors div.selected i {
    opacity: 1;
}

.card .card-sizes {
    display: flex;
    justify-content: space-between;
    margin: 22px 0;
}

.card .card-sizes span {
    cursor: pointer;
    color: #031127;
    background: #f1f2f3;
    border-radius: 3px;
    padding: 6px 12px;
}

.card .card-sizes span.selected {
    color: #4e73f8;
    background: #d5defe;
}

.card .card-footer button {
    cursor: pointer;
    width: 100%;
    height: 46px;
    border-radius: 12px;
    background: var(--azul-claro);
    color: #ffffff;
    font-size: 20px;
    letter-spacing: .5px;
}

















  .footer{
    background: #fff;
}

.footer .box-container-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container-footer .box-footer h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;

}

.footer .box-container-footer .box-footer h3 img{
    max-width: 19%;

}

.footer .box-container-footer .box-footer h3 i{
    color:var(--orange);
}

.footer .box-container-footer .box-footer .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container-footer .box-footer .links i{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container-footer .box-footer .links:hover i{
    padding-right: 2rem;
}


.footer .box-container-footer .box-footer p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container-footer .box-footer .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container-footer .box-footer .share a:hover{
    background: var(--azul-claro);
    color: #fff;
}

.footer .box-container-footer .box-footer .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--azul-oscuro);
    text-transform: none;
}

.footer .box-container-footer .box-footer .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--azul-oscuro);
    border-top: var(--black);
}

.footer .credit span{
    color:var(--azul-claro);
}



/* media queries  */

@media (max-width:1200px){
    
    html{
        font-size: 55%;
    }

}

@media (max-width:991px){
    
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }

}

@media (max-width:768px){

    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top:100%; left: 0;
        width:100%;
        background:#fff;
        padding:1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin:2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content:'\f00d';
    }

    .home{
        flex-flow: column-reverse;
    }

    .home .image img{
        width:100%;
    }

    .home .content h3{
        font-size: 3.6rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

    .about{
        background-position: right;
    }

    .newsletter p{
        width:auto;
    }

}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .about .column .content .buttons a{
        width:100%;
        text-align: center;
    }

    .about .column .content .buttons a:last-child{
        margin: 1rem 0;
    }

}